/*
/*.launch
gradle.log
!/src/
!.gitignore
!gradlew*
!/gradle/
!/LICENSE.txt
!/README.md
!/CHANGELOG.md
!build.gradle
!/gradle.properties
!.gitattributes
!*.json
!*.gradlew
!/models/
!*.md
*.classpath
