# fields
public net.minecraft.world.level.storage.loot.LootTable f_79109_ #pools

# methods
#public net.minecraft.world.level.block.entity.AbstractFurnaceBlockEntity m_58425_()Z # isLit
#public net.minecraft.world.level.block.entity.AbstractFurnaceBlockEntity m_155005_(Lnet/minecraft/core/RegistryAccess;Lnet/minecraft/world/item/crafting/Recipe;Lnet/minecraft/core/NonNullList;I)Z # canBurn
#public net.minecraft.world.level.block.entity.AbstractFurnaceBlockEntity m_266209_(Lnet/minecraft/core/RegistryAccess;Lnet/minecraft/world/item/crafting/Recipe;Lnet/minecraft/core/NonNullList;I)Z # burn()